<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/collection.css">
    <title>Collection</title>
    <meta name="description" content="View Your Memory Collections">
  </head>
  <body>
    <header>
        <a href="/profile"><img id="logo" src="/images/collect_logo.svg" alt="Logo"></a>
        <div id="middle"></div>
        <div id="toolbar">
          <a href="#" data-reveal-id="unimplemented-warning">
            <div class="svg-container">
              <img id="connections-icon" class="svg-icon" src="/images/connections_icon_white.svg" alt="Connections">
            </div>
          </a>
          <a href="#" data-reveal-id="unimplemented-warning">
            <div class="svg-container">
              <img id="messages-icon" class="svg-icon" src="/images/messages_icon_white.svg" alt="Messages">
            </div>
          </a>

          <div id="unimplemented-warning" class="reveal-modal" data-reveal data-options="animation:fade;">
            <a class="close-reveal-modal">&#x2715;</a>
            <p>Sorry, this feature hasn't been implemented yet.</p>
            <p class="header-text">Check back soon!</p>
          </div>

          <a href="/profile">
            <p class="header-text" id="username"><%= username %></p>
          </a>
          <a href="/profile">
            <div class="user-icon"></div>
          </a>
        </div>
      <!-- NOTE: The following *must* be included as it closes the header tag -->
      <% include partials/header-end.ejs %>

    <!-- Display all collections -->
    <div id="main">
      <div id="info-box">
        <a href="<%= backLink %>" id="back" class="button">
          <div id="profile-pic" style="background-image: url(/images/content/<%= profilePic %>);"></div>
            <p>back</p>
        </a>
        <a href="#" class="button dark" data-reveal-id="add-memory-modal">add</a>
        <% include partials/addModal.ejs %>
      </div>

      <div id="collection">
        <div id="gallery-header"> <!-- User Information in the Body Section. Gallery Header. -->
          <p id="name">
            <a href="<%= backLink %>"></a><%= collectionName %>
          </p>
          <div>
            <p class="header-text"><%= memoryCount %>, <%= contributorCount %></p>
          </div>
        </div> <!-- End User Information in the Body Section. Gallery Header. -->

        <div id="memory-gallery">

        <% for(var i=0; i < memories.length; i++) { %>
            <div id="memory<%= i %>" class="memory">
              <div class="upper-section">
                <div class="image center-col"
                  <% if (memories[i].images) { %>
                    style="background-image: url(<%= memories[i].images %>)">
                  <% } else { %>  
                    ><style>#memory<%= i %> .upper-section .image::after { padding-top: 0; }</style>
                  <% } %>
                  <div id="fade" class="fadeClass popup"></div>
                  <% if (memories[i].location) { %>
                    <div id="location<%= i %>" class="locationClass popup">
                      <div class="wrapper">
                        <img src="<%= memories[i].locationImage %>" />
                        <p><%= memories[i].location %></p>
                        <a class="close-popup">&#x2715;</a>
                      </div>
                    </div>
                  <% } %>
                  <% if (memories[i].videoId) { %>
                    <div id="video<%= i %>" class="videoClass popup youtube-container">
                      <div class="wrapper">
                        <div class="youtube-player" data-id="<%= memories[i].videoId %>"></div>
                        <a class="close-popup">&#x2715;</a>
                      </div>
                    </div>
                  <% } %>
                  <% if (memories[i].soundFile) { %>
                    <div id="sound<%= i %>" class="soundClass popup">
                      <div class="wrapper">
                        <div id="player">
                          <audio id="<%= i %>" src="<%= memories[i].soundFile %>"></audio>
                          <button id="<%= i %>" class="paused audio-player"></button>
                        </div>
                        <p><%= memories[i].soundDescription %></p>
                        <a class="close-popup">&#x2715;</a>
                      </div>
                    </div>
                  <% } %>
                  <% if (memories[i].connections) { %>
                    <div id="connect<%= i %>" class="connectClass popup">
                      <div class="wrapper">
                        <a class="close-popup">&#x2715;</a>
                      </div>
                    </div>
                  <% } %>
                </div>
                <!-- Memory media -->
                <div class="memory-media">
                  <% if (memories[i].location) { %>
                     <img id="location<%= i %>" src="/images/titled-icons/2_visit_icon_blue.svg" alt="Visit" />
                  <% } %>
                  <% if (memories[i].videoId) { %>
                     <img id="video<%= i %>" src="/images/titled-icons/watch_icon_blue.svg" alt="Watch" />
                  <% } %>
                  <% if (memories[i].soundFile) { %>
                    <img id="sound<%= i %>" src="/images/titled-icons/4_listen_icon_blue.svg" alt="Listen" />
                  <% } %>
                  <% if (memories[i].connections) { %>
                    <img id="connet<%= i %>" src="/images/titled-icons/5_connect_icon_blue.svg" alt="Connect" />
                  <% } %>
                  <!-- Comments Section -->
                  <div class="comment-section collapsed header-text">
                    <hr>
                    <a href="#">comment</a>
                    <div>
                      <div class="comment">

                        <% if (memories[i].comments) { %>
                          <% for(var j=0; j < memories[i].comments.length; j++) { %>
                            <div class="content">
                              <div class="user-icon" style="background-image: url(<%= memories[i].comments[j].authorPic %>)"></div>
                              <div>
                                <p class="author"><%= memories[i].comments[j].author %></p>
                                <p class="comment-body"><%= memories[i].comments[j].content %></p>
                              </div>
                            </div>
                        <% }
                        } %>

                        <div class="content">
                          <div class="user-icon"></div>
                          <div>
                            <p class="author">Elizabeth</p>
                            <input type="text" placeholder="leave a comment" />
                          </div>
                        </div>

                        <div class="submit">
                          <a href="#" class="header-text">send</a>
                          <p>|</p>
                          <a href="#" class="header-text">cancel</a>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Comments Section -->
                </div><!-- End Memory Media -->
              </div>
              <div>
                <div class="metadata">
                  <% if (memories[i].author) { %>
                    <p><a href="<%= memories[i].authorLink %>"><%= memories[i].author %></a></p> 
                  <% } %>                 
                  <% if (memories[i].month) { %>
                    <p class="date header-text"><%= memories[i].month %></p>
                  <% } %>
                  <% if (memories[i].year) { %>
                    <p class="date header-text"><%= memories[i].year %></p>
                  <% } %>
                </div>
                <div class="author-icon">
                  <% if (memories[i].author) { %>
                    <a href="<%= memories[i].authorLink %>">
                      <div class="user-icon" style="background-image: url(/images/content/<%= memories[i].authorPic %>);"></div>
                    </a>
                  <% } %>
                </div> 
                <div class="text center-col">
                  <% if (memories[i].title) { %>
                    <p class="title"><%= memories[i].title %></p>
                  <% } %>
                  <% if (memories[i].text) {
                    for(var k=0; k < memories[i].text.length; k++) { %>
                      <p><%= memories[i].text[k] %></p>
                    <% }
                  } %>
                  <% if (memories[i].tags) { %>
                    <div class="tags">
                    <% for(var j=0; j < memories[i].tags.length; j++) { %>
                        <a href="#"><%= memories[i].tags[j] %></a>
                        <% if (j < memories[i].tags.length - 1) { %>
                          , 
                        <% } %>
                    <% } %>
                    </div>
                  <% } %>
                </div>
              </div>
            </div><!-- End memory -->
          <% } %>
        
        </div>
      </div>
    </div>

    <% include partials/scripts.ejs %>
    <script type="text/javascript" src="/js/collection.js"></script>
  </body>
</html>