<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title><%= username %></title>
  </head>

  <body>
    <div class="wrapper">
    	<header>
        <a href="/profile"><img id="logo" src="/images/collect_logo.svg" alt="Logo"></a>
        <div id="middle"></div>
        <div id="toolbar">
          <a href="#" data-reveal-id="unimplemented-warning">
            <div class="svg-container">
              <img id="connections-icon" class="svg-icon" src="/images/connections_icon_white.svg" alt="Connections">
            </div>
          </a>
          <a href="#" data-reveal-id="unimplemented-warning">
            <div class="svg-container">
              <img id="messages-icon" class="svg-icon" src="/images/messages_icon_white.svg" alt="Messages">
            </div>
          </a>

          <div id="unimplemented-warning" class="reveal-modal" data-reveal data-options="animation:fade;">
            <a class="close-reveal-modal">&#x2715;</a>
            <p>Sorry, this feature hasn't been implemented yet.</p>
            <p class="header-text">Check back soon!</p>
          </div>

          <a href="/profile">
            <p class="header-text" id="username"><%= username %></p>
          </a>
          <a href="/profile">
            <div class="user-icon"></div>
          </a>
        </div>
      <!-- NOTE: The following *must* be included as it closes the header tag -->
      <% include partials/header-end.ejs %>

      <!-- Main body of the site -->
      <div id="main">

        <!-- User Information. Profile information on the side of the page. -->
        <div class="header-text" id="user-information">

          <div id="profile-picture" style="background-image: url(/images/content/<%= profilePic %>);"></div>
        
          <div class="svg-container" id="user-connections-count">
            <img class="svg-icon" src="/images/icons/connections_icon_black.svg" alt="Connections icon">
          </div>
          <p>12 connections</p>
          <hr />
          <div class="svg-container" id="user-memories-count">
            <img class="svg-icon" src="/images/icons/narrative_icon_black.svg" alt="Memories icon">
          </div>
          <p>30 memories</p>

          <a href="#" class="button dark" data-reveal-id="add-memory-modal">add a memory</a>
          <% include partials/addModal.ejs %>
          
        </div><!-- End User Information -->
          
        <div id="body-section"> <!-- Body Section. This is where the memories are shown in table form. The memory gallery. -->

          <div id="gallery-header"> <!-- User Information in the Body Section. Gallery Header. -->
            <p id="username"><%= username %></p>
            <div id="user-location">
              <p class="header-text"><%= location %></p>
            </div>
          </div> <!-- End User Information in the Body Section. Gallery Header. -->
          <div id="gallery"> <!-- Gallery of memory boxes -->
            <a href="/collection/summer-in-co" class="gallery-box three-pic">
              <div class="content" style="background-image: url(/images/Elizabeth/summer-in-co/1.jpg)"></div>
              <div class="content" style="background-image: url(/images/Elizabeth/summer-in-co/2.jpg)"></div>
              <div class="content" style="background-image: url(/images/Elizabeth/summer-in-co/3.jpg)"></div>
              <div class="collection-title header-text">Summer in Colorado</div>
            </a>
            <a href="/collection/emmies-first-year" class="gallery-box four-pic">
              <div class="content-col">
                <div class="content" style="background-image: url(/images/Elizabeth/emmies-first-year/1.jpg)"></div>
                <div class="content" style="background-image: url(/images/Elizabeth/emmies-first-year/2.jpg)"></div>
              </div>
              <div class="content-col">
                <div class="content" style="background-image: url(/images/Elizabeth/emmies-first-year/3.jpg)"></div>
                <div class="content" style="background-image: url(/images/Elizabeth/emmies-first-year/4.jpg)"></div>
              </div>
              <div class="collection-title header-text">Emmie’s First Year</div>
            </a>
            <a href="/collection/nick-and-elizabeth" class="gallery-box two-pic">
              <div class="content" style="background-image: url(/images/Elizabeth/nick-elizabeth/1.jpg)"></div>
              <div class="content" style="background-image: url(/images/Elizabeth/nick-elizabeth/2.jpg)"></div>
              <div class="collection-title header-text">Nick &amp; Elizabeth</div>
            </a>
            <a href="/collection/jack-and-diane" class="gallery-box four-pic">
              <div class="content-col">
                <div class="content" style="background-image: url(/images/Elizabeth/jack-diane/1.jpg)"></div>
                <div class="content" style="background-image: url(/images/Elizabeth/jack-diane/2.jpg)"></div>
              </div>
              <div class="content-col">
                <div class="content" style="background-image: url(/images/Elizabeth/jack-diane/3.jpg)"></div>
                <div class="content" style="background-image: url(/images/Elizabeth/jack-diane/4.jpg)"></div>
              </div>
              <div class="collection-title header-text">Jack &amp; Diane</div>
            </a>
            <a href="/collection/life-at-the-cape" class="gallery-box two-pic">
              <div class="content" style="background-image: url(/images/Elizabeth/summers-at-the-cape/1.jpg)"></div>
              <div class="content" style="background-image: url(/images/Elizabeth/summers-at-the-cape/2.jpg)"></div>
              <div class="collection-title header-text">Life at the Cape</div>
            </a>
            <a href="/collection/as-a-child" class="gallery-box two-pic">
              <div class="content" style="background-image: url(/images/Elizabeth/as-a-child/1.jpg)"></div>
              <div class="content" style="background-image: url(/images/Elizabeth/as-a-child/2.jpg)"></div>
              <div class="collection-title header-text">As a Child</div>
            </a>
            <a href="/collection/college-years" class="gallery-box text-only">
              <p class="content">I can still remember showing up for freshman year move-in with my parents and the terror of meeting all my future roommates. This was before facebook, so I had absolutely no idea what I was getting into.  I was placed in Davenport College, so I lived in Welch Hall on Old Campus...</p>
              <div class="collection-title header-text">College Years</div>
            </a>
            <a href="/collection/family-stories" class="gallery-box one-pic">
              <div class="content" style="background-image: url(/images/Elizabeth/family-stories/1.jpg)"></div>
              <div class="collection-title header-text">Family Stories</div>
            </a>
            <div class="gallery-box ghost">
            </div>
            <div class="gallery-box ghost">
            </div>
            <div class="gallery-box ghost">
            </div>
          </div>
        </div> <!-- End Body Section. The memory gallery. -->
      </div>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>