<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <title><%= username %></title>
  </head>

  <body>
  	<header>
          <div class="left">
           <span id="logo"><img src="images/collect_logo.svg" alt="Logo"></span>
         </div>
         <div class="right" id="toolbar">
            <div class="svg-container">
              <a href="/connections"><img class="svg-icon" src="images/connections_icon_white.svg" alt="Connections"></a>
              <a href="#"><img class="svg-icon" src="images/messages_icon_white.svg" alt="Messages"></a>
            </div>
            <span id="user-info"><%= username %></span>
          </div>

          <div id="pullout-menu-tab">
            <div class="triangle-left"></div>
            <div id="pullout-menu-icon-holder">
              <div class="svg-container">
                <img class="svg-icon" src="images/icons/pullmenu_icon.svg" alt="Pullout Menu"/>
              </div>
            </div>
          </div>
    </header>

    <!-- Pullout Menu -->
    <div id="pullout-menu-wrapper">
      <div id="pullout-menu">
        <input type="search" placeholder="Search"/>
        <a href="#">Settings</a>
        <a href="#">About</a>
        <a href="#">Log In / Register</a>
      </div>
    </div>

    <!-- Main body of the site -->
    <div id="main" class="row">

      <!-- User Information Block (on side) -->
      <div id="user-information-block" class="small-2 columns">
        <div id="user-information">

          <div id="profile-picture">
            <img src="images/my-profile-pic.jpg" alt="Profile picture">
          </div>
        
          <div class="svg-container" id="user-memories-count">
            <img class="svg-icon" src="images/icons/memories_icon_black.svg" alt="Memories icon">
          </div>
          <p><%= age %> memories</p>
          <hr />
          <div class="svg-container" id="user-connections-count">
            <img class="svg-icon" src="images/icons/connections_icon_black.svg" alt="Connections icon">
          </div>
          <p><%= age %> connections</p>

          <a href="#" data-reveal-id="add-memory-modal">
            <div id="add-memory" class="flat-button">Add</div>
          </a>

          <div id="add-memory-modal" class="reveal-modal" data-reveal>
            <h2>Create a memory.</h2>
            <p class="lead">You can add info here.</p>
            <p>I'm a cool paragraph that lives inside of an even cooler modal.</p>
            <a class="close-reveal-modal">&#215;</a>
          </div>

        </div>
      </div><!-- End User Information Block (on side) -->

      <!-- Memory Gallery (main part of page) -->
      <div id="memory-gallery" class="small-10 columns" style="background-color: purple;">
        <!-- Gallery Header -->
        <div id="gallery-header" class="row">
          <p id="username"><%= username %></p>
          <div id="user-location">
            <div class="svg-container">
              <img class="svg-icon" src="images/icons/location_icon_black.svg" alt="Map Pin Icon"/>
            </div>
            <p>Location, Location</p>
          </div>
        </div><!-- End Gallery Header -->

        <div class="gallery-row row">
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
        </div>

        <div class="gallery-row row">
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
        </div>
      </div><!-- End Memory Gallery (main part of page) -->
    </div>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>